<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

</head>

<body>
    <div class="container">
        <h1>
            GIS4SCHOOL - {{ survey_info['title'] }}
        </h1>

        <h1>
            {{ survey_info['id'] }} , {{ survey_info['survey_id'] }},
        </h1>

        <form action="{{ url_for('post') }}" method="post">

            <input name="code_id" value="{{ survey_info['id'] }}" style="display: none;">
            <input name="survey_id" value="{{ survey_info['survey_id'] }}" style="display: none;">
            <input name="group_id" value="{{ survey_info['group_id'] }}" style="display: none;">

            {{ batteries | safe }}






            <div class="card">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary"> Submit </button>
                </div>
            </div>

        </form>
    </div>
</body>


{{javascript | safe}}


</html>